# Ignore build folders
projects/Bootloader/build/**
projects/Bootloader/bootloader_fw/build/**
projects/Bootloader/blink_green/build/**
projects/Bootloader/blink_orange/build/**
projects/ExampleProject/build/**
projects/ExampleProject/target/build/**
projects/FreeRTOSProject/build/**
projects/FreeRTOSProject/target/build/**
projects/StandupCounter/build/**
projects/StandupCounter/target/build/**
projects/TiltExample/build/**
projects/TiltExample/target/build/**
projects/UnitTestExample/build/**
projects/UnitTestExample/target/build/**

# Ignore .NET build output
**/bin/
**/obj/

# Ignore Cortex-Debug temporary files
projects/Bootloader/.vscode/.cortex-debug*
projects/ExampleProject/.vscode/.cortex-debug*
projects/FreeRTOSProject/.vscode/.cortex-debug*
projects/StandupCounter/.vscode/.cortex-debug*
projects/TiltExample/.vscode/.cortex-debug*
projects/UnitTestExample/.vscode/.cortex-debug*

# Ignore Claude Code files
**/CLAUDE.md
.claude/
TODO.md

# Ignore doxygen folder
projects/ExampleProject/target/doxygen/docs/**
projects/FreeRTOSProject/target/doxygen/docs/**
projects/StandupCounter/target/doxygen/docs/**
projects/TiltExample/target/doxygen/docs/**
projects/UnitTestExample/target/doxygen/docs/**
