# Ignore build folders
ExampleProject/build/**
ExampleProject/target/build/**
FreeRTOSProject/build/**
FreeRTOSProject/target/build/**
StandupCounter/build/**
StandupCounter/target/build/**
UnitTestExample/build/**
UnitTestExample/target/build/**

# Ignore Cortex-Debug temporary files
ExampleProject/.vscode/.cortex-debug*
FreeRTOSProject/.vscode/.cortex-debug*
StandupCounter/.vscode/.cortex-debug*
UnitTestExample/.vscode/.cortex-debug*

# Ignore doxygen folder
ExampleProject/target/doxygen/docs/**
FreeRTOSProject/target/doxygen/docs/**
StandupCounter/target/doxygen/docs/**
UnitTestExample/target/doxygen/docs/**
